#mywc-customer-attributes-management {
    margin: 0;
    padding: 0;
    border: 0;
    font: 100% inherit;
    vertical-align: baseline;
    display: block;
}

#mywc-customer-attributes-management .mywc-add-attribute,#mywc-customer-attributes-management .mywc-attribute-list {
    margin-block: 3rem;
    padding-inline: 1rem;
}

#mywc-customer-attributes-management .mywc-add-attribute.woocommerce .mywc-add-attribute__attributes {
    padding: 10px 0 10px 10px;
}

#mywc-customer-attributes-management.mywc-rtl .mywc-add-attribute.woocommerce .mywc-add-attribute__attributes {
    padding: 10px 10px 10px 0;
}

#mywc-customer-attributes-management .mywc-intro {
    margin-bottom: 20px;
}